<!DOCTYPE html>
<html>
<head>
<style>
#myid {
  background-color: blue;
}

.myclass {
  background-color: gray;
}

p {
  background-color: red !important;
}
</style>
</head>
<body>

<p>Cao Ngọc Minh - 2021050442</p>

<p class="myclass">Cao Ngọc Minh - 2021050442</p>

<p id="myid">Cao Ngọc Minh - 2021050442</p>

</body>
</html>


