<!DOCTYPE html>
<html>
<head>
<style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
</style>
</head>
<body>

<h2>Cao Ngọc Minh - 2021050442</h2>
<p>Cao Ngọc Minh - 2021050442</p>

<div class="center">
  <p>Cao Ngọc Minh - 2021050442</p>
</div>

</body>
</html>


