<!DOCTYPE html>
<html>
<head>
<style>
div {
  height: 50px;
  width: 100%;
  border: 1px solid #4CAF50;
}
</style>
</head>
<body>

<h2>Cao Ngọc Minh - 2021050442</h2>

<div>TCao Ngọc Minh - 2021050442</div>

</body>
</html>
