<!DOCTYPE html>
<html>
<head>
<style>
p {
  border: 2px solid black;
  outline: #4CAF50 solid 10px;
  margin: auto;  
  padding: 20px;
  text-align: center;
}
</style>
</head>
<body>

<h2>Cao Ngọc Minh - 2021050442</h2>
<p>Cao Ngọc Minh - 2021050442</p>

</body>
</html>