<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  font-size: 60px;
}

p {
  font-size: 25px;
  line-height: 50px;
}
</style>
</head>
<body>

<h1>Cao Ngọc Minh - 2021050442</h1>
<h2>TCao Ngọc Minh - 2021050442</h2>
<p>Cao Ngọc Minh - 2021050442</p>
<p>TCao Ngọc Minh - 2021050442</p>

</body>
</html>


