<h1>@ViewBag.thongBao</h1>
<form asp-action="Index">
    <input type="text" name="fullName" placeholder="Nhap ho ten">
    <br>
    <input type="text" name="CCCD" placeholder="Nhap so CCCD">
    <br>
    <input type="submit" class="btn btn-success" value="Gui du lieu">
</form>