<form asp-action="Index">
    <input type="text" name="PersonID" placeholder="Nhap CCCD: ">
    <input type="text" name="FullName" placeholder="Nhap ho ten:">
    <input type="submit" value="Send">
</form>
<h1>@ViewBag.info</h1>